div.dice
{
float:left;
width:32px;
background:#F5F5F5;
border:#999 1px solid;
padding:10px;
font-size: 24px;
text-align: center;
margin: 5px;
}
body
{
  font-family:serif;
  background-color: lightblue;
  color:purple;
}
#font
{
  font-family: 'Gaegu', cursive;
  font-size: 40px;
}
.well
{
  background-color: orange;
  padding-bottom: 200px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
#float
{
  text-align: center;
  padding-left: 100px;
  padding-right: 300px;
  margin-left: 100px;
}
